.layarFood {
    background-image: url('https://format-com-cld-res.cloudinary.com/image/private/s--P4_d_oIl--/c_limit,g_center,h_1200,w_65535/a_auto,fl_keep_iptc.progressive,q_95/v1/eb4797393caa5e8099239d856e418615/figsbesrtcropweb_DSC6831.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 3);
    width: 100%;
    height: 700px;
}

.layarFood h1 {
    color: white;
    
}

.contentFood h1 {
    font-size: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}